{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/replaceme.min.js' %}" defer></script>
  <script src="{% static 'js/replace_text.js' %}" defer></script>
{% endblock %}
{% block title %}Log in{% endblock %}

{% block main %}
<div id="login-container" class="container">
  <div class="row my-4">
    <div class="col-md-12"> <!-- Adjusted column size -->
      <div class="card shadow-lg border-0 my-3">
        <div class="d-flex flex-column align-items-center justify-content-center text-center text-uppercase mt-3">
          <h2 class="fw-bold">Log in</h2> <!-- Kept the login message as the focus -->
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-center"> <!-- Centered the button -->
              <button class="form-control btn btn-outline-light btn--raised rounded-3 w-50"> <!-- Adjusted button width -->
                LOG IN
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <p class="mb-0 text-center"> <!-- Centered footer text -->
            Register an account?
            <a href="{% url 'account_signup' %}" class="text-decoration-none fw-bold">
              Register
            </a><br>
            Forgot your password?
            <a href="{% url 'account_reset_password' %}" class="text-decoration-none fw-bold">
              Reset it
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}