{% extends "_base.html" %}
{% load static %}

{% block javascript %} 
  {{ block.super }}
  <script src="{% static 'js/typing_effect.js' %}" defer></script>
{% endblock %}
{% block title %}My Scores{% endblock %}
{% block main %}
<div id="myscores_container" class="container">
  <div class="row my-4">
    <div class="col-12">
      <h1 class="display-3">My Scores</h1>
      <div>
        <span class="badge bg-primary rounded-3">Player: {{ username }}</span>
      </div>
    </div>
  </div>
  <div class="table-responsive bg-light shadow-lg">
    <table class="table table-striped">
      <thead class="text-center">
        <tr>
          <th>Game</th>
          <th class="d-none d-md-table-cell">Settings</th>
          <th>Final Score</th>
          <th class="d-none d-sm-table-cell">Created On</th>
        </tr>
      </thead>
      <tbody>
        {% for score in my_scores %}
        <tr>
          <td class="text-center">
            {{ score.get_game_display }}
          </td>
          <td class="d-none d-md-table-cell">
            {% if score.operation %}
              Operation: {{ score.get_operation_display }} <br>
              Max number: {{ score.max_number}}
            {% else %}
              Word Length: {{ score.get_word_length_display }} <br>
              Total Words: {{ score.total_words }}
            {% endif %}
          </td>
          <td class="fs-4 text-center">
            <a href="{{ score.get_absolute_url }}" class="text-decoration-none">
              {{ score.score }}
            </a>
          </td>
          <td class="d-none d-sm-table-cell text-center">
            {{ score.created|date:'DATE_FORMAT' }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="mt-2 --custom-mb">
    {% include 'includes/pagination.html' %}
  </div>
</div>

{% endblock %}